@import "tailwindcss";

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FAF9F6;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
